@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    private void Funcion()
    {
        //Instanciar objeto de la clase padre
        Persona padre = new Persona();

        HijaA hijaA = new HijaA();

        padre.Id = 1;
        padre.Cadena = "ABC";

        hijaA.Id = 0;
        hijaA.Cadena = "Texto";
        hijaA.OtraCadena = "Otro Texto";
    }

}
